.USMap {
  background-color: #E1E4E0; }
  .USMap #map1 {
    margin-left: 50%;
    transform: translate(-50%, 0); }
  .USMap #map1 {
    width: 960px;
    height: 600px; }
  .USMap .us-state {
    fill: white;
    stroke: #E1E4E0;
    stroke-width: 1.5;
    -webkit-transition: fill .1s;
    -moz-transition: fill .1s;
    -o-transition: fill .1s;
    -ms-transition: fill .1s;
    transition: fill .1s; }
    .USMap .us-state:hover {
      fill: #F5FFF7; }
  .USMap .form-area {
    position: relative; }
    .USMap .form-area .RSVPForm {
      z-index: 1000;
      font-family: 'Open Sans', Arial, sans-serif;
      position: absolute;
      width: 400px;
      padding: 20px 20px 10px;
      background-color: #d9f0f9;
      left: 50%;
      transform: translate(-50%, 0);
      top: 60px;
      border-radius: 7px;
      border: 5px solid rgba(255, 255, 255, 0.6); }
      .USMap .form-area .RSVPForm .RSVPForm-container {
        position: relative; }
        .USMap .form-area .RSVPForm .RSVPForm-container a.close-button {
          position: absolute;
          right: -10px;
          top: -10px;
          color: black;
          font-weight: 700;
          color: white; }
          .USMap .form-area .RSVPForm .RSVPForm-container a.close-button:hover {
            color: #40B4E5; }
        .USMap .form-area .RSVPForm .RSVPForm-container h1 {
          font-size: 25px;
          margin-bottom: 5px;
          font-weight: 800; }
        .USMap .form-area .RSVPForm .RSVPForm-container h2 {
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 800;
          color: gray; }
        .USMap .form-area .RSVPForm .RSVPForm-container label {
          font-size: 14px;
          margin-bottom: 2px; }




