* {
  font-family: 'Open Sans', Arial, sans-serif;
}
#navigation-area {
  margin-bottom: 10px;
}
.navbar-nav {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-nav>li {
  float: left;
  margin-right: 30px;
  font-size: 20px;
}

#map1 {
  height: 600px;
}

div#logo {
  background-color: #f16432;
  padding: 10px 5px 5px;
}
div#logo h3 {
  color: white;
  padding: 5px 5px 5px 10px;
  margin-left: 10px;
  border: solid white;
  border-width: 0 0 0 4px;
  margin-top: 5px;
}

div.state-picker {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  padding: 10px;
}
