Hi {{ name }},

Thank you for signing up to help elect a Brand New Congress! We are trying to pull the most ambitious campaign in history to win back our democracy, so we've already gotten to work.

This isn't like a normal campaign, though, where a staff of political professionals will be determining everything and volunteers will only be asked to participate in a limited number of ways.  No, this campaign is going to be __led by volunteers__. So we don't just want your help -- we want you to join the rest of us to build this revolution from the ground up. This is what you can do right now:

* [Help us find candidates](http://brandnewcongress.org/nominate)
* [Apply to be on one of our national teams that will be supporting local voter contact operations](http://go.brandnewcongress.org/teams)
* [Follow us and share our posts on Facebook](https://facebook.com/brandnewcongress)
* [Donate some money to help fund building this campaign](https://secure.actblue.com/contribute/page/bncsignup)

Let's take this revolution all the way,

Brand New Congress
