Hi {{ name }},

Thank you for signing up to help elect a Brand New Congress! 

We are trying to pull the most ambitious campaign in history to win back our democracy, so we've already gotten to work.

But we'll need everyone to get involved. This is what you can do right now:

* [Help us find candidates!](http://brandnewcongress.org/nominate)
* [Follow us and share our posts on Facebook](https://facebook.com/brandnewcongress)
* [Apply to help the national call teams](http://go.brandnewcongress.org/callteam)
* [Donate some money to help fund building this campaign](https://secure.actblue.com/contribute/page/bncsignup)

Let's take this revolution all the way!

Brand New Congress
