Hi {{ name }},

Thank you for signing up to help elect a Brand New Congress! 

We are working hard to trying and pull the most ambitious campaign in US history to win back our democracy.

And we'll need everyone -- people like YOU! -- to get actively involved. 

Here are some things you can do right now to help:

* [Help us find candidates!](http://brandnewcongress.org/nominate)
* [Follow/Share us on Facebook often](https://facebook.com/brandnewcongress)
* [Tell us about your skills, talents, and interests so we know to contact you when the need arises](https://goo.gl/forms/CGeULYdVgKTnW72D2)
* [Donate to help fund building this campaign](https://secure.actblue.com/contribute/page/bncsignup)

Let's take this revolution all the way!

Brand New Congress
